services:
  backend:
    # Nhớ thay <tên_đăng_nhập> bằng username Docker Hub thực tế của bạn
    image: quanganhngo2107/agent_project-backend:latest 
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: agent_backend
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/app
      - /app/__pycache__
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - ENV=development
    env_file:
      - .env
    command: uvicorn main:app --host 0.0.0.0 --port 8080 --reload

# Khi nào cần Database, bạn mới viết thêm khối db: ở dưới cùng và thêm depends_on vào backend